@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Lato;
  src: url(../fonts/Font-lato/Lato-Medium_0.ttf);
}

/* main */
* {
    font-family: Lato;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    outline: none;
}
body {
    position: relative;
}

/* top-bar */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
nav .navbar{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 10px;
  transition: all 0.3s;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #222221;
  font-size: 15px;
  font-weight: 800;
  font-family: 'Quicksand', sans-serif;
}
nav .navbar .links li .arrow{
  height: 100%;
  width: 18px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #222221;
  transition: all 0.3s ease;
  cursor: pointer;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  padding-left: 0;
  line-height: 60px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .introduce-sub-menu,
nav .navbar .links li:hover .job-sub-menu,
nav .navbar .links li:hover .guide-sub-menu,
nav .navbar .links li:hover .teacher-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 12px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  transition: all 0.3s;
  cursor: pointer;
}
nav .navbar .links li:hover > i, 
.navbar .links li .sub-menu li:hover > i,
.navbar .links li .sub-menu li:hover > span i {
  transition: all 0.3s;
}
nav .navbar .links li:hover, .navbar .links li .sub-menu li:hover {
  background: rgba(216, 216, 216, 0.35);
}
nav .navbar .links li:hover > a, 
.navbar .links li .sub-menu li:hover > a,
.navbar .links li .sub-menu li:hover > span a,
nav .navbar .links li:hover > i, 
.navbar .links li .sub-menu li:hover > i,
.navbar .links li .sub-menu li:hover > span i {
  color: #DA291C;
}
.navbar .links li .sub-menu a{
  color: #222221;
  font-size: 15px;
  font-weight: 700;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  display: none;
}
.links {
  padding-left: 0;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.more span {
  display: contents;
}
.navbar .search-box{
  position: relative;
  height: 40px;
  width: 40px;
  background: #DA291C;
  border-radius: 50px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #DA291C;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #DA291C;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #DA291C;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .logo {
  height: 50px;
  display: flex;
}
.sidebar-logo-box {
  height: 40px;
}
.logo img:last-child, .sidebar-logo-box img:last-child {
  margin-left: 5px;
}
.navbar .logo img, .sidebar-logo-box img {
  height: 100%;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}

/* header */
.header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url('../images/background-main.JPG');
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  object-fit: contain;
}
.header h1 {
  font-family: 'Oswald', sans-serif;
  margin-left: auto;
  margin-right: auto;
  line-height: 3.5rem;
}
.header-title, .social-media {
  padding-top: 80px;
}
.social-media {
  top: 0;
  right: 0;
  margin-right: 40px;
}
.social-media a {
  width: 50px;
  text-align: center;
}
.social-media a:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}
.social-media a i {
  font-size: 30px;
  color: #fff;
  transition: all 0.3s;
  transform: scale(1);
}
.social-media a:nth-child(2) i {
  font-size: 25px;
}
.social-media a:hover i {
  color: #DA291C;
  transform: scale(1.1);
}

/* popular-slide-story */
.popular-main-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.popular-our-story h2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #222221;
  margin-top: 50px;
  margin-bottom: 30px;
}
.popular-story-block {
  margin-bottom: 80px;
}
.popular-story-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-story-image__details {
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.475s;
  cursor: pointer;
}
.popular-story-image__details:hover .popular-story-image__title {
  color: #DA291C;
  background: rgb(0, 0, 0, 0.8);
}
.popular-story-image__details:hover .popular-story-image__title a {
  color: #DA291C;
}
.popular-story-image img {
  width: 96%;
  height: 230px;
  object-fit: cover;
  transition: all 0.475s;
  filter: none;
  -webkit-filter: grayscale(0);
}
.popular-story-image:hover img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.popular-story-image__title {
  position: absolute;
  height: 70px;
  background: rgb(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  width: 96%;
  transition: all 0.475s;
  font-weight: 500;
}
.slick-prev, .slick-next {
  visibility: hidden;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-prev:after {
  font-family: FontAwesome;
  content:'\f053'; 
  visibility: visible;
  display: block;
  position: absolute;
  color: #b6b3aa;
  padding: 5px;
  font-size: 30px;
  font-weight: 400;
}
.slick-next:after {
  font-family: FontAwesome;
  content:'\f054'; 
  visibility: visible;
  display: block;
  position: absolute;
  color: #b6b3aa;
  padding: 5px;
  font-size: 30px;
  font-weight: 400;
}
.popular-story-box {
  margin-bottom: 20px;
}
.popular-story-box__title {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 8px;
  border-left: 4px solid #DA291C;
  margin-left: 45px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
}
.popular-story-box__more {
  margin-right: 45px;
  padding: 5px 20px;
  border: 1px solid #b6b3aa;
  transition: all 0.475s;
}
.popular-story-box__more a {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  color: #b6b3aa;
  display: flex;
  align-items: center;
  transition: all 0.475s;
}
.popular-story-box__more:hover {
  background: #b6b3aa;
}
.popular-story-box__more:hover a {
  color: #ffffff;
}
/* about-us */
footer {
  width: 100%;
  background: #DA291C;
  padding-top: 30px;
  margin-top: 30px;
}
.about-us {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.col-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.col-content {
  margin-top: 10px;
  font-size: 15px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.col-content i {
  width: 15px;
  margin-right: 5px;
}
.img-mobile {
  display: none !important;
}
/* bottom-bar */
.bottom-bar {
  width: 100%;
  height: 50px;
  background: #DF6258;
  bottom: 0;
}
.bottom-bar-content {
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
.bottom-bar-content p {
  color: #ffffff;
  margin: 0;
}
.slide-btn-box {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.slide-btn {
  width: 100px;
  height: 14px;
  background: #D1CCBD;
}
.about-us-col:nth-child(2), .about-us-col:last-child {
  padding-left: 45px;
}
.popular-story-image__title a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.475s;
}
.popular-story-image__details:hover .popular-story-image__title a {
  color: #DA291C;
}

@media only screen and (max-width:1280px) {
  nav .navbar {
    padding: 0 30px;
  }
}
@media only screen and (max-width:1024px) {
  /* 1024 header start */
  nav .navbar .links li .arrow {
    width: 15px;
    font-size: 12px;
  }
  nav .navbar {
    padding: 0 20px;
  }
  .navbar .logo {
    height: 35px;
  }
  .navbar .logo img:last-child {
    margin-left: 6px;
  }
  nav .navbar .links li a, .navbar .links li .sub-menu a {
    font-size: 13px;
  }
  nav .navbar .links li {
    padding: 0 6px;
  }
  .navbar .search-box {
    height: 35px;
    width: 35px;
  }
  .navbar .search-box i {
    line-height: 35px;
    font-size: 16px;
  }
  .header h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .navbar .search-box .input-box {
    right: calc(100% - 35px);
  }
  /* 1024 header end */
  .popular-story-image img {
    width: 96%;
    height: 180px;
    object-fit: cover;
    transition: all 0.475s;
    filter: none;
    -webkit-filter: grayscale(0);
  }
  .popular-story-image__title {
    height: 65px;
    font-size: 18px;
    line-height: 20px;
  }
  .popular-story-box__more {
    margin-right: 41px;
  }
  /* 1024 footer start */
  .col-title {
    font-size: 16px;
    line-height: 30px;
  }
  .about-us-col:nth-child(2), .about-us-col:last-child {
    padding-left: 35px;
  }
  .col-content {
    font-size: 12px;
    margin-top: 0;
  }
  .col-content > .col-title {
    margin-bottom: 0 !important;
  }
  .col-content p {
    margin-bottom: 8px;
  }
  .col-content i {
    margin-right: 0px;
  }
  .bottom-bar-content p {
    font-size: 15px;
  }
  /* 1024 footer end */
}
@media only screen and (max-width:920px) {
  /* 920 header start */
  nav .navbar{
    max-width: 100%;
    padding: 0 15px;
  }
  .navbar .logo img:last-child {
    margin-left: 3px;
  }
  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 5px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 11.7px;
  }
  nav .navbar .links li .arrow {
    width: 18px;
  }
  .navbar .search-box {
    height: 30px;
    width: 30px;
  }
  nav .navbar .links li .arrow {
    width: 13px;
    font-size: 12px;
  }
  .navbar .search-box i {
    line-height: 30px;
    font-size: 13px;
  }
  .social-media {
    margin-right: 15px;
  }
  /* 920 header end */
  .popular-main-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .popular-our-story h2 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .popular-story-block {
    margin-bottom: 60px;
  }
  .popular-story-image img {
    height: 150px;
  }
  .popular-story-image__title {
    height: 60px;
    font-size: 16px;
    line-height: 18px;
  }
  .popular-story-box__title {
    font-size: 22px;
    padding-left: 6px;
    line-height: 26px;
  } 
  .popular-story-box__more a {
    font-size: 18px;
    line-height: 24px;
  }
  .popular-story-box__more {
    padding: 5px 16px;
    margin-right: 43px;
  }
  /* footer 920 start */
  .about-us-col:nth-child(2), .about-us-col:last-child {
    padding-left: 30px;
  }
  .col-title {
    font-size: 15px;
  }
  .col-content {
    font-size: 11px;
  }
  /* footer 920 end */
}
@media only screen and (max-width:820px) {
  /* 820 header start */
  ::-webkit-scrollbar {
    width: 0px;
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 505px;
    width: 100%;
    background:  #ffffff;
    line-height: 40px;
    padding: 0 0 20px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.5s ease;
    z-index: 1000;
    overflow: scroll;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 15px;
    background: rgba(201, 201, 201, 0.3);
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
    cursor: default;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #DA291C;
    cursor: pointer;
  }
  .sidebar-logo i {
    padding-right: 15px;
  }
  nav .navbar .links{
    display: block;
    margin-top: 0;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
  nav .navbar .links li{
      display: block;
      line-height: 70px;
      padding: 0 15px;
  }
  nav .navbar .links li a {
    font-size: 14px;
  }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .introduce-arrow,
  .links li:hover .job-arrow{
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    display: flex;
    align-items: center;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .introduce-sub-menu,
  nav .navbar .links li:hover .job-sub-menu,
  nav .navbar .links li:hover .guide-sub-menu,
  nav .navbar .links li:hover .teacher-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .introduce-sub-menu,
  .navbar .nav-links.show3 .links .job-sub-menu,
  .navbar .nav-links.show4 .links .guide-sub-menu,
  .navbar .nav-links.show5 .links .teacher-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .introduce-arrow,
  .navbar .nav-links.show3 .links .job-arrow,
  .navbar .nav-links.show4 .links .guide-arrow,
  .navbar .nav-links.show5 .links .teacher-arrow {
      transform: rotate(180deg);
      cursor: pointer;
  }
  .navbar .nav-links.show2 .links .more-arrow{
    transform: rotate(90deg);
  }
  .header h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .social-media {
    margin-right: 20px;
  }
  /* 820 header end */
  .popular-story-image__title {
    font-size: 15px;
    line-height: 17px;
  }
  .popular-story-box__more {
    margin-right: 42px;
  }
  /* 820 footer start */
  footer {
    margin-top: 15px;
  }
  .about-us {
    flex-wrap: wrap;
  }
  .about-us-col {
    width: 100%;
    text-align: center;
  }
  .col-title {
    font-size: 20px;
    font-weight: bold;
  }
  .col-content {
    font-size: 15px;
  }
  .col-content p {
    margin-bottom: 0;
  }
  .about-us-col:nth-child(2), .about-us-col:last-child {
    padding-left: 0;
  }
  .popular-story-content p, .popular-story-content b {
    font-size: 11.8px;
  }
  .story-content-2 p, .story-content-4 p {
    width: 88%;
  }

  /* 820 footer end */
}
@media only screen and (max-width:768px) {
  /* 768 header start */
  .header h1 {
    font-size: 23px;
  }
  /* 768 header end */
  .popular-our-story h2 {
    font-size: 25px;
  }
  .popular-story-image img {
    height: 130px;
  }
  .popular-main-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .popular-story-image__title {
    height: 50px;
    font-size: 13px;
    line-height: 15px;
  }
  .popular-story-box__more {
    margin-right: 43px;
  }
  /* 768 footer start */
  .col-title {
    font-size: 18px;
  }
  .col-content {
    font-size: 13px;
  }
  /* 768 footer end */
}
@media only screen and (max-width:640px) {
  /* header 640 start */
  .navbar .logo {
    height: 40px;
  }
  .header {
    height: 390px;
  }
  .header h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .header-title, .social-media {
    padding-top: 70px;
  } 
  .social-media {
    margin-right: 10px;
  }
  .social-media a i {
    font-size: 25px;
  }
  .social-media a:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .social-media a:nth-child(2) i {
    font-size: 22px;
  }
  .navbar .nav-links .sidebar-logo {
    padding-left: 15px;
  }
  .sidebar-logo i {
    padding-right: 15px;
  }
  /* header 640 end */
  .popular-story-block {
    margin-bottom: 50px;
  }
  .popular-story-box {
    margin-bottom: 15px;
  }
  .popular-story-image__title {
    height: 45px;
    font-size: 12px;
    line-height: 14px;
  }
  .popular-story-box__title {
    font-size: 20px;
    line-height: 24px;
  }
  .popular-story-box__more {
    padding: 5px 14px;
    margin-right: 41px;
  }
  .popular-story-box__more a {
    font-size: 16px;
    line-height: 22px;
  }
  /* footer 640 start */
  .col-title {
    font-size: 18px;
  }
  .col-content {
    font-size: 13px;
  }
  .bottom-bar-content {
    width: 90%;
  }
  .bottom-bar-content p {
    font-size: 13px;
  }
  /* footer 640 end */
}
@media only screen and (max-width:540px) {
  /* header 540 start */
  .navbar .logo {
    height: 35px;
  }
  .navbar .search-box {
    height: 30px;
    width: 30px;
  }
  .navbar .search-box i {
    line-height: 30px;
    font-size: 14px;
  }
  nav .navbar .nav-links {
    max-width: 100%;
    box-shadow: none;
  }
  .header {
    height: 320px;
  }
  .header h1 {
    font-size: 16px;
    line-height: 25px;
  }
  /* header 540 end */
  .popular-our-story h2 {
    font-size: 24px;
  }
  .popular-story-image img {
    height: 200px;
  }
  .img-pc {
    display: none !important;
  }
  .img-mobile {
    display: block !important;
  }
  .popular-story-image__title {
    height: 60px;
    font-size: 10px;
    line-height: 13px;
  }
  .popular-story-box__title {
    margin-left: 42px;
  }
  /* footer 540 start */
  .col-title {
    font-size: 16px;
  }
  .col-content {
    font-size: 13px;
    padding-bottom: 20px;
  }
  /* footer 540 end */
}
@media only screen and (max-width:480px) {
  /* header 480 start */
  .navbar .logo {
    height: 30px;
  }
  .social-media a {
    width: 40px;
  }
  .header {
    height: 275px;
  }
  .header h1 {
    font-size: 15px;
    line-height: 22px;
  }
  .social-media {
    margin-right: 5px;
  }
  .social-media a i {
    font-size: 20px;
  }
  .social-media a:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .social-media a:nth-child(2) i {
    font-size: 18px;
  }
  /* header 480 end */
  .popular-main-container {
    width: 100%;
  }
  .popular-story-box__title {
    margin-left: 33px;
  }
  .popular-story-box__more {
    margin-right: 33px;
  }
  .slick-prev:after, .slick-next:after {
    font-size: 18px;
  }
  .slick-prev, .slick-next {
    width: 30px;
  }
}
@media only screen and (max-width:420px) {
  /* header 420 start */
  .navbar .nav-links .sidebar-logo {
    padding-left: 10px;
  }
  .navbar .nav-links .sidebar-logo {
    padding-left: 10px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    line-height: 50px;
  }
  nav .navbar .links li .arrow {
    width: 10px;
  }
  .navbar .links li .sub-menu li {
    padding: 0 5px;
  }
  .sidebar-logo i {
    padding-right: 10px;
  }
  .header {
    height: 250px;
  }
  .header h1 {
    font-size: 13px;
    line-height: 20px;
  }
  .social-media a i {
    font-size: 18px;
  }
  .social-media a:nth-child(2) i {
    font-size: 17px;
  }
  .header h1 {
    font-size: 12px;
    line-height: 18px;
  }
  .social-media a:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 0px;
  } 
  /* header 420 end */
  .popular-story-image img {
    height: 165px;
  }
  .popular-story-image__title {
    height: 55px;
    padding: 10px;
    font-size: 10.5px;
  } 
  .popular-story-image__title br {
    display: none;
  }
  /* footer 420 start */
  .col-title {
    font-size: 14px;
  }
  .col-content {
    font-size: 11px;
    padding-bottom: 12px;
  }
  .about-us-col:last-child {
    margin-bottom: 18px;
  }
  .bottom-bar-content p {
    font-size: 11px;
  }
  /* footer 420 end */
}
@media only screen and (max-width:390px) {
  nav .navbar .links li a, .navbar .links li .sub-menu a {
    font-size: 12px;
  }
  nav .navbar .links li .arrow {
    font-size: 11px;
  }
  .social-media {
    margin-right: 0px;
  } 
  .social-media a i {
    font-size: 16px;
  }
  .social-media a:nth-child(2) i {
    font-size: 15px;
  }
  .popular-our-story h2 {
    font-size: 20px;
  } 
  .popular-story-box__title {
    font-size: 16px;
    line-height: 20px;
    margin-left: 32px;
  }
  .popular-story-box__more {
    padding: 5px 12px;
    margin-right: 32px;
  }
  .popular-story-box__more a {
    font-size: 14px;
    line-height: 16px;
  }
  .popular-story-image img {
    height: 150px;
  }
  .popular-story-image__title {
    height: 55px;
    font-size: 9.5px;
    line-height: 12px;
    padding: 10px 5px;
  }
  .popular-story-block {
    margin-bottom: 40px;
  }
  
  .col-content {
    font-size: 10px;
  }
}
@media only screen and (max-width:375px) {
  nav .navbar .links li {
    padding: 0 5px;
  }
  .popular-story-image__title {
    height: 50px;
    font-size: 9px;
    line-height: 11px;
  }
}